@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&family=Playwrite+NO:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
    .high-light{
       box-shadow: inset 0px 39px   30px 0px black     ;
       padding: 20px; /* Optional: for some padding around the content */
             
    }

    .border-bottonclass{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid rgb(255, 175, 64) ;
        padding: 8px;
        transition: all .3s ease-in-out;
    }
    .just-padding{
        padding: 8px;
        transition: all .3s ease-in-out;
    }
   
    :root{
        --icon-color:#fff;
        --background-image:rgb(99, 110, 114);
        --background-map:rgb(236, 240, 241);


    }
   
  
  
    .navbar{
        display: flex;
        column-gap: 4px;

    }
    
    .navbar-second{
        column-gap: 12px;
        display: flex;
    }
    .border-right:not(:last-child){
        border-inline-end: 1px solid  black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    .icon-color{
        color: var(--icon-color);
    }
    .background-color{
        background-color:var(--background-image);
    }
    .flex-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4px;
    }
    .text-size{
        font-size: 25px;
        color: var(--icon-color);
    }
    .border-style{
        border-bottom:  1px solid var(--icon-color);
    }

    .border-input{
        border: 1px solid var(--icon-color);

    }
    .border-Ticket{
        border: 1px solid var(--icon-color) ;
        border-radius: 8px;
    }
    .text-sizes{
        font-size: 14px;
        font-weight: 400;
      
    }
    .font-size{
        width: 20px;
        height: 20px;
      
    }
    .plus-color{
        color: rgb(23, 192, 235);
    }
    .minus-color{
        color: rgb(255, 175, 64);
    }
    .shadow-minicard{
        box-shadow: 1px 4px 15px rgb(75, 75, 75);
    }
   .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

   }
   .font-name{
    font-size: 18px;
    font-weight: 500;


   }
   .border-option{
    border: .7px solid rgb(53, 59, 72);
   }
   .background-hover:hover{
    background-color: rgb(251, 197, 49);
    transition:  all .3s ease-in-out;
   }
   .grid-lists{
    display: grid;
    grid-template-columns: 1fr;    
   }
   *{
    scroll-behavior: smooth;
   }
   .navbar-shadow{
    background-color: hsl(0,0%,6%,.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
   }
   
   .child-order:nth-child(2n) > img{
  order: 2;
   }
   .bg-map{
    background-color:var(--background-map) ;
   }
  .sticky-position{
    position: sticky;
    position: -webkit-sticky;
    top: 18px;
  }
  .box-shadow-bar{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2), -5px -5px 30px rgba(0,0,0,0.1);
  }
  .image-animation{
    width: 500px ;
    height: 500px;
    animation: morph 4s linear infinite;
 
  }
  @keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60% ;
    }
    100% {
        border-radius: 60% 40% 30% 70%  / 60% 30% 70% 40%;
    }
    
  }






  .card{
    height: 170px;
    border-radius: 16px;
    width: 100%;
    padding: 8px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2), -5px -5px 30px rgba(0,0,0,0.1);
    border: 1px solid #00000025;
}
.box-location_shadow{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2), -5px -5px 30px rgba(0,0,0,0.1);
    border-radius: 12px;
    background-color: hsl(0,0%,6%,.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(230deg,rgb(129, 236, 236),rgb(250, 177, 160));

}
.login-blur{
    background-color: hsl(0,0%,6%,.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* background: linear-gradient(230deg,rgb(129, 236, 236),rgb(250, 177, 160)); */
}
.transform-flip{
    transform: scaleX(-1);
}


.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    word-spacing: 2px;
}





.skeleton-header,
.skeleton-footer,
.skeleton-image {
 
    background: linear-gradient(90deg, #dadada 25%, #f1f1f1 50%, #e9e8e8 75%);
    background-size: 200% 100%;
    animation: loading 1s infinite;
  
}

.skeleton-image{
    height: 140px;
    border-radius: 16px;
    width: 140px;
    padding: 30px;
   
}

.skeleton-body {
    flex-grow: 1;
    padding: 20px;
}

.skeleton-footer{
    margin-bottom: 20px;
}

.skeleton-line {
    border-radius: 16px;
    height: 20px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #dbdbdb 25%, #f8f8f8 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1s infinite;
}

.card-bg .skeleton-header{
    margin-top: auto;
    margin-bottom: 60px;
    height: 120px;
}


@keyframes loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}







.cards{
   margin-top: 140px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  
   
}

.skeleton-headers{
    width: 290px;

    height: 60px;
    background: linear-gradient(90deg, #dadada 25%, #f1f1f1 50%, #e9e8e8 75%);
    background-size: 200% 100%;
    animation: loader 1s infinite;
}
.skeleton-footers,
.skeleton-images {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, #dadada 25%, #f1f1f1 50%, #e9e8e8 75%);
    background-size: 200% 100%;
    animation: loader 1s infinite;
    
}

.skeleton-images{
    height: 500px;
    width: 500px;
    animation: identity 4s linear infinite;
    
}
@keyframes identity {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60% ;
    }
    100% {
        border-radius: 60% 40% 30% 70%  / 60% 30% 70% 40%;
    }
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
    
}

.skeleton-bodys {
    flex-grow: 1;

    padding: 20px;
}

.skeleton-footers{
    margin-bottom: 20px;
}

.skeleton-lines {
    height: 20px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #dbdbdb 25%, #f8f8f8 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loader 1s infinite;
}

.card-bg .skeleton-headers{
    margin-top: auto;
    margin-bottom: 60px;
    height: 120px;
}


@keyframes loader{
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}



}